#bio
  #bio-inner(ng-controller='BioController')
    #bio-tiles
      .bio-tiles-inner
        - (1..11).each do |index|
          .bio-tile-wrapper(jk-bio-tile tile="tiles[#{index}]" index="#{index}")