#home(ng-controller='HomeController')
  #home-inner
    #content
      #title
        My name is Jussi
      #menu
        %ul
          %li
            %a(href='#/portfolio')
              Portfolio
          %li
            %a(href='#/demos')
              Demos
  #whoami
    %a(href='' ng-click='scrollToBiosss()')
      Who Am I?
.bio-container(ng-include src="'partials/bio.html'")

