#travel
  #title
    %a(href='/')
      Back
    Small d3js demo showing my favourite places around the world.
    Click places on the map or the list on the right.
  #travel-inner(ng-controller='TravelController')
    #travel-map(jk-map items='items')
    #travel-places