@import "../functions.less";
@gutter:1em;

#bio {
  padding: @gutter;
  padding-top: 8*@gutter;
  #gradient .vertical(#282828, #080808);
  #bio-inner {

  }
}

.make-tile-bg() {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 50% 50% !important;
}


#bio-tiles {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  
  .bio-tiles-inner {
    height: auto;
    width: 100%;
    max-width: 1000px;
    .make-row(@gutter);
    margin: 0 auto;
  }
  
  .bio-tile-wrapper {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(3);
    min-height: 200px;
    height: 100%;
  }
  
  
  .bio-tile {
    width: auto;
    height: auto;
    .make-tile-bg();
    z-index: 700;
    position: relative;
    min-height: 200px;
    
    margin-bottom: 2*@gutter;
    
    
    .overlay {
      .hidden-xs();
      background-color: rgba(0,0,0,0.2);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 997;
    }    
    &:hover {
      .overlay {
        background-color: rgba(0,0,0,0);
      }
    }  
    .text-wrapper {
      position: absolute;
      z-index: 999;
    }  
    span.text {
      z-index: 999;
      background-color: rgba(0,0,0,0.7);
      //font-weight: bold;
      text-transform: uppercase;
      width: 70%;
      font-size: 1.4em;
      line-height: 1.7em;
    }
    .location-wrapper {
      position: absolute;
      bottom: 1%;
      right: 1%;
      z-index: 998;
    }   
    span.location {
      z-index: 998;
      background-color: rgba(255,255,255,0.4);
      color: black;
      padding: 2px;
      display: none;
    }
    
    span.location:hover {
      display: block;
    }
    
  }  
}