@import "../functions.less";

#home {
  height: 100%;
  #home-inner {
    height: 100%;
    min-height: 200px;
    .make-bg-image("../images/home_1920.jpg", 50%, 20%);
    padding: 5%;
  }
}

header {
  margin-top: 20%;
  color: white;
  width: 100%;
  .name {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
  }
  
  .welcome {
    font-size: 1.2em;
    color: white;
    background-color: rgba(0,0,0,0.4);
    max-width: 500px;
    padding: 0.5em;
  }
  
  
  @media screen and (min-width: @width-md) {
    & {
      .name {
        font-size: 3em;
        margin-bottom: 20px;
      }
      .welcome {
        font-size: 1.2em;
      }
    }
  }
}

#home-menu {
  max-width: 400px;
  .make-row();
  ul {
    list-style: none;
    li {
      .make-xs-column(12);
      
      a {
        color: white;
        width: 100%;
        height: 100%;
      }
    }
  }
}

